*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.logo{
    width: 100px;
}
header{
    height: 100vh;
    background-image: 
    linear-gradient( rgb(0, 0, 0, 0.548), rgba(0, 0, 0, 0.548) ),
    url(../img/img1.jpg);
    background-size: cover;
    padding-top: 20px;
}
h1{
    text-align: center;
    width: 330px;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 30px;
    color: rgb(255, 255, 255);
}
.navbar{
    display: flex;
    padding: 0px 10px; 
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 30px;
    width: 500px;
    height: 30px;
}
.button{
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    gap: 30px;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.507);
}
.titleSecond{
    display: inline-block;
    position: relative;
    bottom: 80px;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    width: 300px;
    text-align: center;
    padding: 14px;
}
.titlethird{
    display: inline-block;
    position: relative;
    bottom: 132px;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    width: 300px;
    left: 460px;
    text-align: center;
    padding: 14px;
    text-decoration: underline;
}
.data{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.link{
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 160px;
    text-align: center;
    display: inline-block;
}
.link:hover{
    color: rgb(53, 53, 250);
    font-style: italic;
    font-size: 18px;
}
.button:hover{
    font-weight: bold;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    color: white;
}
.rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.coach{
    display: inline-block;
    position: relative;
    left: 50px;
    padding-bottom: 50px;
}
.letter{
    list-style-type: lower-alpha;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}
span{
    font-weight: bold;
}
.img2{
    width: 400px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.438);
}
.imgrules{
    display: flex;
    padding: 50px;
    gap: 50px;
    align-content: center;
}
.tables{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    gap: 30px;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.507);
    background-color: white;

}
table{
    border-collapse: collapse;
}
th, td{
    border: 2px solid rgb(0, 0, 0);
}
th{
    background-color: rgb(131, 129, 129);
}
.negrita{
    font-weight: bold;
}
input{
    border: none;
    border-bottom: 1px solid black;
}
.streetaddress{
    width: 449px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.city, .birthdate, .grade{
    display: flex;
    justify-content: space-between;
}
.textcontainer{
    width: 227px;
}
.closest{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.parrafo{
    width: 500px;
}
.titleregistration{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
